p {
  color: black;
}
p {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: 70px;
  font-family: "Open Sans", sans-serif;
text-align: center;
 line-height: 2;
  letter-spacing: 1px; 
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;  
}
html {
  background-color: #00539f;
}
body {
  font-family: "Open Sans", sans-serif;
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
}
img {
  display: block;
  margin: 0 auto;
}